@import "tailwindcss";

@theme {
    /*Fontes*/ 
    --font-sans: "League Spartan", sans-serif;
    /*Cores do sistema*/
    --color-amma-green: #6B8B3F;
    --color-amma-green-light: #E1E8D9;
    --color-amma-bg: #EEF2EA;
    --color-grey-text: #6F6F6F;
}